*{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
  padding: 60px;
}

input{
  width: 50%;
  font-size: 1rem;
}

.card{
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
  max-width: 30%;
  max-height: 40vh;
  
}
.card p{
  padding: 5px;
  text-align: center;
}
.card img{
  max-height: 30vh;
}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}